In [ ]:
import os
os.environ['KAGGLE_CONFIG_DIR']='/content'

In [ ]:
!kaggle datasets download -d shreyasajal/linkedin-influencers-data

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /content/kaggle.json'
Downloading linkedin-influencers-data.zip to /content
 84% 7.00M/8.33M [00:00<00:00, 72.0MB/s]
100% 8.33M/8.33M [00:00<00:00, 82.4MB/s]

#LOADING THE LIBRARIES

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
!unzip linkedin-influencers-data.zip

Archive:  linkedin-influencers-data.zip
  inflating: influencers_data.csv

# LOAD THE DATASET

In [ ]:
df=pd.read_csv("/content/influencers_data.csv")

<ipython-input-24-af15066030fc>:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("/content/influencers_data.csv")

In [ ]:
df.head()

,Unnamed: 0,name,headline,location,followers,connections,about,time_spent,content,content_links,media_type,media_url,num_hashtags,hashtag_followers,hashtags,reactions,comments,views,votes
0,0,Nicholas Wyman,CEO IWSI Group,NaN,6484.0,500+,Nicholas Wyman for the past 25 years has shone...,1 day ago,Robert Lerman writes that achieving a healthy...,[['https://www.linkedin.com/in/ACoAAACy1HkBviR...,article,['https://www.urban.org/urban-wire/its-time-mo...,4,0,"[['#workbasedlearning', 'https://www.linkedin....",12,1,NaN,NaN
1,1,Nicholas Wyman,CEO IWSI Group,NaN,6484.0,500+,Nicholas Wyman for the past 25 years has shone...,1 week ago,"National disability advocate Sara Hart Weir, ...",[['https://www.linkedin.com/in/ACoAAAHsfJgBb7_...,NaN,[],0,0,[],11,0,NaN,NaN
2,2,Nicholas Wyman,CEO IWSI Group,NaN,6484.0,500+,Nicholas Wyman for the past 25 years has shone...,2 months ago,NaN,[],NaN,[],0,0,[],15,0,NaN,NaN
3,3,Nicholas Wyman,CEO IWSI Group,NaN,6484.0,500+,Nicholas Wyman for the past 25 years has shone...,2 months ago,Exploring in this months Talent Management & H...,[['https://www.linkedin.com/in/ACoAAAADlGIBLfn...,article,['https://www.tlnt.com/apprenticeships-that-br...,4,0,"[['#careerplanning', 'https://www.linkedin.com...",44,0,NaN,NaN
4,4,Nicholas Wyman,CEO IWSI Group,NaN,6484.0,500+,Nicholas Wyman for the past 25 years has shone...,2 months ago,I count myself fortunate to have spent time wi...,[['https://www.linkedin.com/in/ACoAABhNxDUB9IX...,article,['https://gritdaily.com/the-legacy-of-verified...,3,0,"[['#verifiedresumes', 'https://www.linkedin.co...",22,2,NaN,NaN

#PERFORMING EDA

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34012 entries, 0 to 34011
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         34012 non-null  int64
 1   name               34012 non-null  object
 2   headline           34012 non-null  object
 3   location           31740 non-null  object
 4   followers          33970 non-null  float64
 5   connections        25713 non-null  object
 6   about              34012 non-null  object
 7   time_spent         34011 non-null  object
 8   content            31996 non-null  object
 9   content_links      34012 non-null  object
 10  media_type         26779 non-null  object
 11  media_url          34012 non-null  object
 12  num_hashtags       34012 non-null  int64
 13  hashtag_followers  34012 non-null  int64
 14  hashtags           34012 non-null  object
 15  reactions          34012 non-null  int64
 16  comments           34012 non-null  int64
 17  views              0 non-null      float64
 18  votes              86 non-null     object
dtypes: float64(2), int64(5), object(12)
memory usage: 4.9+ MB

## CHECKING FOR NULL VALUES

In [ ]:
df.isna().sum()

Unnamed: 0               0
name                     0
headline                 0
location              2272
followers               42
connections           8299
about                    0
time_spent               1
content               2016
content_links            0
media_type            7233
media_url                0
num_hashtags             0
hashtag_followers        0
hashtags                 0
reactions                0
comments                 0
views                34012
votes                33926
dtype: int64

In [ ]:
#FILLING NULL VALUES WITH MODE AND MEAN
df["media_type"]=df["media_type"].fillna(df["media_type"].mode()[0])
df["location"]=df["location"].fillna(df["location"].mode()[0])
df["connections"]=df["connections"].fillna(df["connections"].mode()[0])
df["content"]=df["content"].fillna(df["content"].mode()[0])
df["followers"]=df["followers"].fillna(df["followers"].mean())
df["time_spent"]=df["time_spent"].fillna(df["time_spent"].mode()[0])

In [ ]:
#DROPPING THE COLUMNS BECAUSE THE VALUES PRESENT IN THESE COLUMNS ARE CLOSE TO ZERO
df=df.drop(["views","votes"],axis=1)

In [ ]:
df.isna().sum()

Unnamed: 0           0
name                 0
headline             0
location             0
followers            0
connections          0
about                0
time_spent           0
content              0
content_links        0
media_type           0
media_url            0
num_hashtags         0
hashtag_followers    0
hashtags             0
reactions            0
comments             0
dtype: int64

# COVERTING TO CSV

In [ ]:
file='linkdin_influencers.csv'
df.to_csv(file,index=False)