# TASK-1

**Create two list and join those two list**

In [30]:
a=[1,2,3,4,5]
b=[6,7,8,9,10]
c=a+b
print("LIST : ",c)

LIST :  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# TASK-2

**With If statement find the even numbers**

In [28]:
a=[i for i in (c) if i%2==0]
print("EVEN NUMBERS : ",a)

EVEN NUMBERS :  [2, 4, 6, 8, 10]

#TASK-3

**Create a dictionary with 3 keys and 2 values for each key**

In [24]:
dictionary={"country":["India","Russia"],
            "Languages":["Tamil","Hindi"],
            "City":["Chennai","Bangalore"]}
print(dictionary)
print("KEYS : ",dictionary.keys())
print("VALUES : ",dictionary.values())

{'country': ['India', 'Russia'], 'Languages': ['Tamil', 'Hindi'], 'City': ['Chennai', 'Bangalore']}
KEYS :  dict_keys(['country', 'Languages', 'City'])
VALUES :  dict_values([['India', 'Russia'], ['Tamil', 'Hindi'], ['Chennai', 'Bangalore']])

# TASK-4

**Create a function with If statement which is used to find the odd numbers**

In [29]:
def odd(num):
  odd_num=[i for i in c if i%2==1]
  print("ODD NUMBERS : ",odd_num)

odd(c)

ODD NUMBERS :  [1, 3, 5, 7, 9]

#TASK-5

**Write a Python function to sum all the numbers in a list.**

In [21]:
def total(num):
  print("Using In-Built Function : ",sum(num))

def total1(num):
  sum=0
  for i in num:
    sum+=i
  print("Traditional Method : ",sum)

sample_list = [8, 2, 3, 0, 7]

total(sample_list)
total1(sample_list)

Using In-Built Function :  20
Traditional Method :  20